{{#section 'css'}}
    <style>
        section {
            width: 70%;
            margin: 0 auto;
        }
        section div{
            margin-top: 10px;
        }
        div label{
            width: 15%;
            display: inline-block;
            text-align: right;
        }
        div label+span{
            margin-left: 20px;
        }
        section>div:nth-of-type(4) span{
            display: inline-block;
            width: 70%;
            height: 250px;
            overflow-y: scroll;
        }
        div:nth-of-type(4) label{
            vertical-align: top;
        }
        span button:nth-of-type(1){
            margin-left: calc(15% + 20px);
        }
        span button{
            cursor: pointer;
        }
        .replay{
            width: 80%;
            background-color: #eee;
            padding: 20px;
        }
        .replay textarea{
            border: 0;
            white-space: pre;
        }
        .replay a{
            color: #000;
            text-shadow: 1px 1px 4px black;
            line-height: 40px;
        }
        .replay small{
            color:#555;
        }


    </style>
{{/section}}

    <div class="cntWrap">
        <div class="content">
            <header>
                <h2>게시판 본문글</h2>
            </header>
            <section>
                {{#board}}
                <input type="hidden" value="{{brno}}">
                <div>
                    <label>제목</label>
                    <span>{{title}}</span>
                </div>
                <div>
                    <label>작성자</label>
                    <span>{{writer}}</span>
                </div>
                <div>
                    <label>작성일</label>
                    <span>{{regdate}}({{hits}})</span>
                </div>
                <div>
                    <label>본문</label>
                    <span>{{note}}</span>
                </div>
                {{/board}}
                <div class="replay">
                {{#re}}
                    <div>
                        <span><b>{{writer}}</b></span>
                        <span>{{note}}</span>
                        <span><small>{{regdate}}</small></span>
                    </div>
                {{/re}}
                    <div>
                        <input type="hidden" value="{{session.userid}}" id="userid">
                        <textarea cols="70" rows="2" placeholder="바른말 고운말해주세요"></textarea>
                        <a id="repBtn">등록</a>
                    </div>
                
                </div>
                <div>
                    <span>
                        <button onclick="location.href='/board/write'">새글쓰기</button>
                        <button onclick="location.href='/board/list'">목록으로</button>
                        {{#if (eq session.userid board.[0].writer)}}
                        <button id="modify">수정하기</button>
                        <button onclick="alert ('삭제되었습니다!'); location.href=`/board/del?brno={{board.[0].brno}}`">삭제하기</button>
                        {{/if}}
                    </span>
                </div>
            </section>
        </div>
    </div>
    {{#section 'script'}}
        <script>
            let modiBtn = document.querySelector('#modify');
            let brno = document.querySelector('input').value;
            let span = document.querySelectorAll('span');
            let title =  span[0].innerText;
            let writer = span[1].innerText;
            let note = span[3].innerText;
            //리플관련
            let repBtn = document.querySelector('#repBtn');
            console.log(repBtn);
            let repwt = document.querySelector('#userid').value;
            let repnt = document.querySelector('.replay textarea');
            let renote = null;

            repnt.addEventListener('keyup',function(){
                renote= this.value;
            });
            {{#if (eq session.userid board.[0].writer)}}
            modiBtn.addEventListener('click',()=>{
                location.href=`/board/modify?brno=${brno}&writer=${writer}&title=${title}&note=${note}`;
            })
            {{/if}}
            repBtn.addEventListener('click',()=>{
                location.href=`/board/addrep?brno=${brno}&wt=${repwt}&nt=${renote}`;
            })
        </script>
    {{/section}}