{{#section 'css'}}
    <style>
        section {
            width: 70%;
            margin: 0 auto;
        }
        section div{
            margin-top: 10px;
        }
        div label{
            width: 15%;
            display: inline-block;
            text-align: right;
        }
        div label+span{
            margin-left: 20px;
        }
        section>div:nth-of-type(4) span{
            display: inline-block;
            width: 70%;
            height: 250px;
            overflow-y: scroll;
        }
        div:nth-of-type(4) label{
            vertical-align: top;
        }
        span button:nth-of-type(1){
            margin-left: calc(15% + 20px);
        }
        span button{
            cursor: pointer;
        }


    </style>
{{/section}}

    <div class="cntWrap">
        <div class="content">
            <header>
                <h2>게시판 본문글</h2>
            </header>
            <section>
                {{#board}}
                <div>
                    <label>제목</label>
                    <span>{{title}}</span>
                </div>
                <div>
                    <label>작성자</label>
                    <span>{{writer}}</span>
                </div>
                <div>
                    <label>작성일</label>
                    <span>{{regdate}}({{hits}})</span>
                </div>
                <div>
                    <label>본문</label>
                    <span>{{note}}</span>
                </div>
                <div>
                    <span>
                        <button onclick="location.href='/board/write'">새글쓰기</button>
                        <button onclick="location.href='/board/list'">목록으로</button>
                        <button onclick="location.href='/board/modify?brno={{brno}}'">수정하기</button>
                        <button onclick="alert ('삭제되었습니다!'); location.href=`/board/del?brno={{brno}}`">삭제하기</button>
                    </span>
                </div>
                {{/board}}            
            </section>
        </div>
    </div>
